@import "../../styles/variables.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-verde-principal);
  height: 4rem;
  padding: 0 1.5rem;
  position: relative;
  font-family: var(--font-main);
}

/* Corrigido o nome da classe */
.logo,
.menu_account {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu_account {
  justify-content: flex-end; /* coloca ícones no canto direito */
  gap: 1rem; /* espaço entre ícone da conta e menu */
}

.account-logged {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  font-size: 0.8rem;
  font-weight: 600 ;
  color: var(--color-text);
}

.logo img {
  width: 60px;
}

.logo span {
  font-size: 2em;
  color: var(--color-text);
}

.menu_account img {
  width: 40px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.menu_account img:hover {
  opacity: 0.8;
}

/* Menu mobile */
.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 200px;
  background-color: var(--color-verde-principal);
  padding: 1rem;
  border-radius: 0 0 0 10px;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.mobile-menu a {
  color: var(--color-text);
  text-decoration: underline;
  margin: 0.8rem 0;
  font-size: 1.1rem;
  transition: opacity 0.2s ease;
  font-family: var(--font-main);
}

.mobile-menu a:hover {
  color: var(--color-background);
}

.mobile-menu.open {
  display: flex;
}
